{% extends 'base.html' %}

{% load widget_tweaks %}
{% load humanize %}
{% block head %}
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
{% endblock %}
{% block title%}<title>Test detail</title>{% endblock %}

{% block content %}
{% include 'quiz/add_question.html' %}
<div style="margin: 2%">
     <div class="row" style="margin: 1%">
        <div class="col">
          <div class="card">
            <div class="card-body">
                {% if not test.is_active %}
                    <form method="post" action="{% url 'quiz:delete_test' test.pk %}">
                        {% csrf_token %}
                        <button class="btn-floating red right deleteConfirm" type="submit" style="position: absolute; right: 0"><i class="material-icons">delete_forever</i></button>
                    </form>
                {% endif %}
              <h5 class="card-title">{{test.name}}</h5>
                <p class="card-text">Description:
                    {{ test.description }}</p>
              <h6 class="card-subtitle mb-2 text-muted">Added on: {{ test.created_on|naturaltime }}</h6>
              <p class="card-text">This quiz can pass any users {{ test.num_passes }} times</p>
               <div class="col s12 l2">
			        <button style="font-size:0.8rem; margin: 1%" class="btn btn-toggleactive {% if test.is_active %}green{% else %}red{% endif %}">
				        <div class="switch">
					        Active
					        <label>
                                <input class="toggleactive" type="checkbox" {% if test.is_active %}checked{% endif %}>
                                <span class="lever"></span>
					        </label>
				        </div>
			        </button>
		        </div>
            </div>
          </div>
        </div>
      </div>
    <div style="padding: 1%">
		<div>
			<div class="col s12 l12" style="padding: 1%">
				<span class="left">
					<h5>Questions</h5>
				</span>
				<span class="right">
					<div class="col s12 l2 right">
						<a id="add-new-question" class="waves-effect waves-light btn-floating pulse red center" href="#" onclick="$('#modal1').modal('open');" {% if test.publish %}disabled{% endif %}><i class="material-icons">note_add</i></a>
					</div>
				</span>
			</div>
		</div>
    <br>
		<div id="questionList">
			<!-- to be filled with questions -->
		</div>
	</div>
</div>
{#    <div class="card" style="padding: 1%">#}
{#        <div class="question">#}
{#            <h3 class="title-question">Questions | ({{ questions.count }})</h3>#}
{#                <div class="text-center">#}
{#                    <a id="add-new-question" class="waves-effect waves-light btn-floating pulse red center" href="#" onclick="$('#modal1').modal('open');" {% if test.publish %}disabled{% endif %}>#}
{#                        <i class="material-icons">note_add</i></a>#}
{#                </div>#}
{##}
{#<ul class="list-group">#}
{#    {% for question in questions %}#}
{#        <li class="list-group-item d-flex justify-content-between align-items-center">#}
{#            {{ question.question|linebreaks }}#}
{#        <span>#}
{#        <a href="" data-toggle="modal" data-target="#Update">#}
{#       <i class="far fa-edit" ></i>Update question</a>#}
{#        <form method="post" action="{% url 'quiz:delete_question' question.pk %}">#}
{#            {% csrf_token %}#}
{#            <button type="submit" class="btn btn-danger">Delete</button>#}
{#        </form>#}
{#    </span>#}
{#  </li>#}
{#    {% endfor %}#}
{#</ul>#}

{% endblock content %}

{% block scripts %}
<script>
	$(document).ready(function() {
	    $("#questionList").on('mouseenter', '.questioncard', function() {
			$(this).toggleClass('z-depth-4');
		});
		$("#questionList").on('mouseleave', '.questioncard', function() {
			$(this).toggleClass('z-depth-4');
		});
	    (function () {
			$("#id_question").parent().append('<div id="quill-editor"></div>');
			$("#id_question").prop('hidden', true).prop("required", false);
			var quill = new Quill('#quill-editor', {
				modules: {
					toolbar: [
						['bold', 'italic', 'underline'],
						['link', 'blockquote', 'code-block',],
						[{ list: 'ordered' }, { list: 'bullet' }],
            			[{ 'script': 'sub'}, { 'script': 'super' }],
					]
				},
				placeholder: 'Write Question...',
				theme: 'snow',
			});
		})();
		$('.modal').modal();
		let is_active = "True" === "{{ test.is_active }}";
		$.ajax({
			method: 'GET',
			url: "{% url 'quiz:getQuestions' pk=test.pk %}",
			success: handleFormSuccess,
			error: handleFormError
		});
		$(".toggleactive").click(function(e) {
			$.ajax({
				method: 'PUT',
				url: "{% url 'quiz:activate_quiz' pk=test.pk %}",
				success: function(data, textStatus, jqXHR) {
					console.log(data.active);
					if(data.active === true) {
						$(".btn-toggleactive").toggleClass("red").toggleClass("green")
					} else {
						$(".btn-toggleactive").toggleClass("green").toggleClass("red");
					}
					new PNotify({
						title:'Done!',
						type: 'success'
					});
				},
				error: function(jqXHR, textStatus, errorThrown) {
					$(".toggleactive").prop('checked', !$(".toggleactive").prop('checked'));
					new PNotify({
						title:'Operation Failed!',
						type: 'error',
                        text: jqXHR.responseJSON['message'],
					});
				}
			});
		});
		$('#add-new-question').click(function(event) {
				console.log("Add Question");
				$('.ajax-question-form').trigger("reset");
				$(".ql-editor").empty();
				$("#modal-title").html("Add Question");
				$("#questionSaveButton").html("Add Question");
				$('.ajax-question-form').attr('data-url',"{% url 'quiz:addQuestionForm' pk=test.pk %}");
				$('.ajax-question-form').attr('data-method','POST');
		});
		$("#questionList").on('click', '.updateQuestion', function(event) {
			event.preventDefault();
			console.log("Update Question");
			var $thisURL = $(this).attr('data-url');
			$.ajax({
				method: 'GET',
				url: $thisURL,
				success: function(data, textStatus, jqXHR) {
					console.log(data);
					$('#modal1').modal('open');
					$(".ql-editor").html(data.question);
					$("#id_wrong_answer_1").val(data.wrong_answer_1);
					$("#id_wrong_answer_2").val(data.wrong_answer_2);
					$("#id_wrong_answer_3").val(data.wrong_answer_3);
					$("#id_correct_answer").val(data.correct_answer);
					$('.ajax-question-form').attr('data-url',$thisURL);
					$('.ajax-question-form').attr('data-method','PUT');
					$("#modal-title").html("Edit Question");
					$("#questionSaveButton").prop("disabled", is_active).html("Edit Question");
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(errorThrown);
				}
			});
		});
		$('.ajax-question-form').submit(function(event) {
			event.preventDefault();
			$("#id_question").val($(".ql-editor").html());
			var $formData = $(this).serialize();
			var $methodType = $('.ajax-question-form').attr('data-method');
			var $thisURL = $('.ajax-question-form').attr('data-url');
			console.log($formData);
			$.ajax({
				method: $methodType,
				url: $thisURL,
				data: $formData,
				success: handleFormSuccess,
				error: handleFormError,
			});
		});
		$("#questionList").on('submit','.deleteQuestion', function(event) {
			event.preventDefault();
			var $thisURL = $(this).attr('data-url');
			console.log($thisURL);
			$.ajax({
				method: 'DELETE',
				url: $thisURL,
				success: handleFormSuccess,
				error: handleFormError,
			});
		});
		function handleFormSuccess(data, textStatus, jqXHR) {
			new PNotify({
				title: 'Question Updated!',
				type: 'success'
			});
			console.log(data);
			$('.ajax-question-form').trigger("reset");
			$('#modal-close').click();
			refreshQuestionList(data);
		}
		function handleFormError(jqXHR, textStatus, errorThrown) {
			new PNotify({
				title: 'Oops! Error',
				type: 'error'
			});
			console.log(errorThrown);
		}
		function refreshQuestionList(data) {
			$("#questionList").empty();
			data.forEach(function(question, index) {
				var content = `<div class="card horizontal questioncard" style="padding:1%;margin:1.5%"><div><span class="left">${question.question}</span>`;

				if(is_active === false) {
					content += `<form class="deleteQuestion" data-url="${question.update_url}"><button type="submit" class="btn-floating waves-effect red right z-depth-3" style="margin-left:1%"><i class="material-icons">delete_forever</i></button></form>`;
				}
				content += `<a class="btn-floating waves-effect red right z-depth-3 updateQuestion" data-url="${question.update_url}" style="margin-left:1%" ><i class="material-icons">mode_edit</i></a></div></div>`;
				$("#questionList").append(content);
			});
		}
	})
</script>
{% endblock scripts %}
