<div id="scoreModal" class="modal">
    <div class="modal-content" style="padding:0%">
        <nav class="website-theme">
            <div class="nav-wrapper">
                <div class="col s8 m5 l4 left grey-text text-darken-4" style="margin-left:2%">
                    <ul>
                        <li style="font-size:1.3rem">Your Score: {{ score }} %</li>
                    </ul>
                </div>
                <div class="col s4 m7 l7">
                    <ul class="right">
                        <li><a href="#!"><i class="modal-action modal-close material-icons red-text text-accent-4">clear</i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row" style="height:300px;width:300px;margin:auto">
                <div class="col s12">
                    <div class="section">
                        <canvas id="score-donut"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>