{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block title%}<title>Change password|{{ request.user.username }}</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Change Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
            <form method="post" id="passwordForm">
                {% csrf_token %}
                {% if form.errors %}
                <div class="row">
                    <div class="col-sm-6">
                        <ul><li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% render_field form.password1 class="input-lg form-control" placeholder="New Password" %}
                {% render_field form.password2 class="input-lg form-control" placeholder="Repeat Password" %}
                {% render_field form.old_password class="input-lg form-control" placeholder="Your old Password" %}
                {% render_field form.new_password1 class="input-lg form-control" placeholder="New Password" %}
                {% render_field form.new_password2 class="input-lg form-control" placeholder="Repeat new Password" %}
                <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password">
            </form>
        <button type="button" class="btn btn-outline-danger">
                    <a class="nav-link" href="{% url 'user:redirect' %}" style="color: red">
                        Cancel</a></button>
        </div><!--/col-sm-6-->
    </div><!--/row-->
</div>
{% endblock %}