{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/log.css' %}">
{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% block title%}<title>Simple Quiz|{{ users.username }}</title>{% endblock %}
{% block content %}
    <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                           <img src="{{ users.picture.url }}" style="border-radius: 50%; width: 128px; height: 128px; margin:1rem" alt="photo">
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ users.first_name }} {{ users.last_name }}
                                    </h5>
                                    <h6>
                                        Tests Taken: {{ profile.get_total_tests_taken }}
                                    </h6>
                                    <p class="proile-rating">Accuracy : <span>{{ profile.get_accuracy }}%</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ABOUT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">BIO</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-info">
                    <a class="nav-link" href="{% url 'user:update_profile' request.user.id request.user.username %}">
                        Update profile</a></button>
                        <button type="button" class="btn btn-outline-info">
                    <a class="nav-link" href="{% url 'authenticate:password' %}">
                        Change password</a></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>TEST LINK</p>
                            <a href="{% url 'quiz:my_tests' %}">MANAGE TESTS</a><br/>
                            <a href="{% url 'quiz:all_tests' %}">ALL TESTS</a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ users.username }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ users.first_name }} {{ users.last_name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ users.email }}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio:</label><br/>
                                        {% if users.info %}
                                        <p>{{ users.info }}</p>
                                        {% else %}
                                            <p>Please edit your profile and add information about you</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}